---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404.">
  <section class="p-12">
    <div class="text-center">
      <h1 style="--text-multiplier:2">404</h1>
      <h3>
        click <a
          href="/"
          class="text-blue-600 hover:opacity-90 hover:decoration-blue-600 underline decoration-transparent transition-all"
          >here</a
        > to return to the main page.
      </h3>
    </div>
  </section>
</Layout>
