---
import Layout from "@/layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";

const query = `*[_type == "about"][0] {
    name,
    bio,
 }
        `;

const { name, bio } = await sanityClient.fetch(query);
---

<Layout title={`About ${name}`}>
  <section class="p-4 sm:p-12 flex md:flex-row flex-col justify-between">
    <div class="max-w-5xl prose-sm sm:prose-base prose-slate">
      <PortableText value={bio} />
    </div>
  </section>
</Layout>
