---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import { sanityClient  } from "sanity:client";
const query = `*[_type == "post"]`;
const posts = await sanityClient.fetch(query);
console.log(JSON.stringify("1st->", import.meta.env.PUBLIC_VERCEL_ENV));
console.log(JSON.stringify("2nd->", process.env.PUBLIC_VERCEL_ENV));
console.log(JSON.stringify("3rd->", process.env.PUBLIC_SANITY_PROJECT_ID));
console.log(JSON.stringify("4th->", process.env.SANITY_PROJECT_ID));
---
<Layout title="Welcome to Astro.">
  <section class="p-12">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
    {posts.length ? posts.map((post) => <Card post={post} />) : <h1>No content to preview, come back later!</h1>}
  </div>
  </section>
</Layout>