---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { sanityClient } from "sanity:client";
const query = `{
	'illustrations': *[_type == 'illustrations']|order(orderRank),
      	'ConceptArt': *[_type == 'concept-art']|order(orderRank),
}`;
const categories = await sanityClient.fetch(query);
const illustrations = categories["illustrations"];
const conceptArt = categories["ConceptArt"];
// const [categoryName,categoryElements]=Object.entries(categories);
// console.log(categoryElements);
---

<Layout title="DigiAbdel Art">
  <section class="p-12 flex flex-col gap-6">
    <div class="flex flex-col gap-6 [&_hr]:last:hidden">
      <h1 class="text-2xl font-bold underline">Illustrations</h1>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        {illustrations.map((post) => <Card post={post} />)}
      </div>
      <hr />
    </div>
    <div class="flex flex-col gap-6 [&_hr]:last:hidden">
      <h1 class="text-2xl font-bold underline">Concept Art</h1>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        {conceptArt.map((post) => <Card post={post} />)}
      </div>
      <hr />
    </div>
  </section>
</Layout>
