@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[calc(clamp(1.5rem,2vw,2rem)*var(--text-multiplier,1))] font-bold;
  }
  h2 {
    @apply text-[calc(clamp(1.17rem,2vw,1.5rem)*var(--text-multiplier,1))] font-bold;
  }
  h3 {
    @apply text-[calc(clamp(1rem,2vw,1.17rem)*var(--text-multiplier,1))] font-semibold;
  }
  h4 {
    @apply text-[calc(clamp(0.83rem,2vw,1rem)*var(--text-multiplier,1))] font-semibold;
  }
  h5 {
    @apply text-[calc(clamp(0.67rem,2vw,0.83rem)*var(--text-multiplier,1))] font-semibold;
  }
  h6 {
    @apply text-[0.67rem] font-medium;
  }
  :root {
    --font-sans: Open Sans;

    --background: 0 0% 100%;
    --foreground: 229 84% 4.9%;

    --primary: 229 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 229 47.4% 11.2%;
  }
  :root.dark {
    color-scheme: dark;
    --font-sans: Open Sans;

    --background: 229 84% 4.9%;
    --foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 229 47.4% 1.2%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url("/fonts/OpenSans/open-sans-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url("/fonts/OpenSans/open-sans-500.woff2") format("woff2");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url("/fonts/OpenSans/open-sans-600.woff2") format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url("/fonts/OpenSans/open-sans-700.woff2") format("woff2");
  }
}
