---
import '../main.css';
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';

import { sanityClient  } from "sanity:client";
import { imageUrlFor } from "@/lib/utils";
const query =  `*[_type == "author"][0] {
        logo}
        `;
const {logo} = await sanityClient.fetch(query);

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={imageUrlFor(logo).width(48).bg("fff").url()} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />

	</head>
	<body class="min-h-screen">
		<Header/>
		<slot />
	</body>
</html>

