---
import "../main.css";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
const websiteOrigin = window.location.origin;
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="sm:overflow-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/images/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Digiabdel Art" />
    <meta property="og:site_name" content="digiabdelart" />
    <meta property="og:url" content="https://www.digiabdelart.com" />
    <meta
      property="og:description"
      content="Welcome to my creative realm! I'm Abdel, an Egyptian Canadian Illustrator and Concept Artist based in Canada. Explore my journey from a novice artist to a character conjurer. Join me in the world of visual storytelling, vibrant designs, and endless inspiration."
    />
    <meta property="og:type" content="profile" />
    <meta property="og:image" content={`${websiteOrigin}/og.svg`} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <Header transition:persist />
    <main>
      <slot />
    </main>
    <script is:inline>
      const handleMobileNavToggleClick = (e) => {
        const isMobileNavOpen =
          e.currentTarget.dataset.isMobileNavOpen === "true";
        if (isMobileNavOpen) {
          e.currentTarget.dataset.isMobileNavOpen = "false";
        } else {
          e.currentTarget.dataset.isMobileNavOpen = "true";
        }
        document.documentElement.classList.toggle("overflow-hidden");
      };

      document.addEventListener("astro:page-load", () => {
        document
          .getElementById("toggleMobileNav")
          .addEventListener("click", handleMobileNavToggleClick);
      });
    </script>
  </body>
</html>
